/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015年11月29日, 下午04:23:16
    Author     : User
*/
html{
}
body{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background: url('../img/GrayBG.jpg') repeat center center;
}
table td{
    vertical-align: top;
}
.hotHotelImg{
  object-fit: cover;
    min-width: 100%;
    height: 225px;
    max-height: 225px;
    margin: 0 auto;
}
.thumbnail{
    display:inline-block
}
.pageTitle{
    margin-left: 40px;
}
img, .hotels table{
    width: 100%;
}
.subTitleIcon{
    width: 220px;
    border-radius: 15px;
    overflow:  hidden;
    display: inline-block;
    margin: 15px 15px 15px 15px;
    background: #28a4c9;
}
.subTitleIconWord{
       margin-left: 40px;
       color: white;
       font-size: 16px;
       
}
.iconOverlap{
    position: relative;
    width: 220px;
    height: 23px;
    margin-top: -30px;
    background: #286090; 
    border-radius: 15px;
}
.searchDiv{
    width: 100%;
    padding-right: 10px;
    margin-top: 0px;
    height: 200px;
    padding-top:1px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #aaaaaa;
    background: #ffffff;
}
.miniNumInput input{
    width: 40px;
}
.miniNumInput{
    margin-right: 10px;
}
#flightTable td{
    vertical-align: top;
}
#flightTable tr td:first-child{
    width: 590px;
}
#flightTable{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#submitBtn{
    margin-left: 200px;
}
.flightSearchDetails{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #eeeeee;
}
.flightSearchDetails td{
    width: 150px;
}
.FSD_title{
    color: #88aaFF;
}
.BS_title{
    width: 250px;
    height: 35px;
    background: #1D76C4;
    color: white;
    text-align: center;
    padding-top: 2px;
    font-size: 23px;
}
.bookingSummaryDiv{
    margin-left: 20px;
}
.bookingSummaryDiv table tr th, .bookingSummaryDiv table tr td{
    text-align: center;
}
.BSD_contextDiv{
    width: 100%;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    background: #eeeeee;
}
.bookingSummaryDiv hr{
    border-top: 1px solid #bbbbbb;
}
.inline{
    display: inline-block;
    width: 50%;
}
.inline span{
    margin-right: 0px;
}
.totalFeeTalbe{
    width: 100%;
    margin-top: -20px;
}
.totalFeeTalbe tr td:first-child{
    width: 100px;
    text-align: left;
}
.totalFeeTalbe tr td:nth-child(2){
    text-align: right;
}
.feeTable{
    width: 100%;
}
.feeTable td:nth-child(2), .feeTable th:nth-child(2){
    text-align: right;
}
.feeTable td:nth-child(1), .feeTable th:nth-child(1){
    text-align: left;
}
.FS_table{
    width: 100%;
}
.FS_table tr th:nth-child(4), .FS_table tr td:nth-child(4){
    width: 200px;
    text-align: center;
    vertical-align: middle;
}
.seatSelect{
    margin-top: 30px;
    width: 755px;
    height: 600px;
    background: #eeeeee;
}
#flightBody{
    height: 100%;
    overflow: scroll;
    width: 500px;
    background: black;
    margin-left: auto;
    margin-right: auto;
}
#flightSeat tr td{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    color: white;
}
.seat{
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #bbbbbb;
    width: 33px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
    background: #66afe9
}
.seatE{
    margin-left: 2px;
    margin-right: 2px;
    width: 33px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
}
.seatB{
    margin-left: 2px;
    margin-right: 2px;
    width: 33px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bbbbbb;
    background: yellowgreen;
}
.seatC{
    margin-left: 2px;
    margin-right: 2px;
    width: 33px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bbbbbb;
    background: #eea236
}
.tab-content tab-pane{
    width: 90%;
}
.mainform{
    margin-left: 10px;
    width: 740px;
    background: #88aaFF;
}
.hotelSearchDiv{
    box-shadow: 2px 2px 10px #aaaaaa;
    margin-top: 10px;
    width: 230px;
    background: #ffffff;
}
.hotelSearchTable{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
.hotelSearchTable label{
    width: 100%;
    color: white;
    font-size: 22px;
    text-align: center;
    background: #286090;
}
.hotelSearchDiv div, .hotelFilterDiv div{
    margin-left: 10px;
}
.smallNum{
    width: 40px;
    margin-right: 10px;
}
#hSearch{
    width: 130px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
}
.hotelFilterDiv{
    box-shadow: 2px 2px 10px #aaaaaa;
    margin-top: 10px;
    width: 230px;
    background: #ffffff;
}
.shortHr{
    border: 1px solid #999999;
    margin-left: -10px;
    width: 30px;
    margin-top: -2px;
}
.longHr{
    border: 1px solid #999999;
}
#range{
    width: 205px;
}
.right{
    text-align: right;
}
#hotelPrince{
    width: 60px;
}
.hotelSearchResult{
    background: #ffffff;
    width: 770px;
    box-shadow: 2px 2px 10px #aaaaaa;
    margin-top: 10px;
    margin-left: 10px;
}
.hotleImg{
    width: 200px;
    height: 155px;
    margin-right: 10px;
}
.hotels{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.hotelNamelbl{
    background: none;
    font-size: 25px;
    color: #348EE8;
}
.score{
    font-size: 25px;
    text-align: right;
}
.hotels table tr td:nth-child(2){
    width: 360px;
    text-align: left;
}
.hotels table tr td:nth-child(3){
    text-align: right;
}
.hotelPrice{
    font-size: 27px;
    color: #eea236;
}
.hotels table td:nth-child(2){
    margin-left: 10px;
}
.hotelsRoom table tr td:nth-child(2){
    text-align: right;
}
.hotelsPrice{
    font-size: 20px;
}
.hotelsRoom{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background: #f5f5f5;
    padding: 4px;
}
.hotels a:hover{
    text-decoration: none;
}
.sortDiv{
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
}
#sortMenu{
    margin-left: -50px;
}
#sortDropdown{
    margin-left: 700px;
}
.hotelsPrice{
    color: #E8AC34;
}
.hotels a{
    color: #777777;
}
.hotelsRing span{
    color: #00cc00;
}

.resultMsg{
    margin-left: 20px;
    font-size: 18px;
}
.numOfHotels, .searchPlace{
    font-size: 25px;
    color: #367FFF;
}
.hotelHr{
    border: 1px solid #bbbbbb;
}
